[submodule "edk2"]
	path = edk2
	url = git@github.com:ToolmanP/edk2.git
	branch = master
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = git@github.com:ToolmanP/edk2-platforms.git
	branch = usand 
[submodule "edk2-non-osi"]
	path = edk2-non-osi
	url = git@github.com:ToolmanP/edk2-non-osi.git
	branch = usand
